block mobile-menu
    div.mobile-menu
        .mobile-menu__header
            a(href="#").header__logo lite.page
            button(type='button').mobile-menu__close.mobile-toggles
        ul.mobile-menu__list.mobile-menu__list--main
            li
                a(href='#') CRM
            li
                a(href='#') Мои сайты
            li
                a(href='#') Каталог
            li
                a(href='#') Тарифы
            li
                a(href='#') Блог
            li
                a(href='#') Помощь
        .mobile-menu__user
            img(src='img/user.png' alt='user')
            .mobile-menu__user-btns
                a(href='#').mobile-menu__user-btns-name Артем Городецкий
                a(href='#').mobile-menu__user-btns-exit Выйти
