block header
    header.header
        .header__container
            .header__row
                a(href="#").header__logo lite.page
                .header__block
                    ul.header__menu
                        li
                            a(href='#') CRM
                        li
                            a(href='#') Мои сайты
                        li
                            a(href='#') Каталог
                        li
                            a(href='#') Тарифы
                        li
                            a(href='#') Блог
                        li
                            a(href='#') Помощь
                        a(href='#').header__user
                            img(src='img/user-logo.png' alt='user')
                    .header__burger.mobile-toggle.header__row-mobile-toggle.mobile-toggles
                        span
